{% extends 'base.html.twig' %}

{% block title %} Exchange {{ exchange.getId() }}{% endblock %}
{% block stylesheets %}
<style>

body {
    overflow: hidden;
}

.exchange-sides {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    overflow: hidden;
    justify-content: space-evenly;
}

h2 {
    margin-top: 0;
}

h1, h2 {
    width: 100%;
    text-align: center;
}

.exchange-sides > div {
    margin: 0 2%;
}

.cardlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: scroll;
    width: 100%;
    height: 65vh;
    border: 1px solid black;
    padding: 1% 0;
    border-radius: 20px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3%
}

.card span {
    margin: 3% 0;
}

img.card-img{
    border-radius: 10px;
    width: 100%;
    max-height: 90%;
}

.exchange-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3% 0;
}

.exchange-btns a {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    font-size: 2em;
    margin: 0 1%;
    width: 7%;
    text-align: center;
}

.exchange-btns a:first-child{
    background-color: lightgreen;
}

.exchange-btns a:last-child{
    background-color: indianred;
}
</style>
{% endblock %}


{% block body %}
<h1>Exchange</h1>
<div class="exchange-sides">
    <div class="side-give">
        <h2>{{ exchange.getSender().getEmail() }} gives these cards :</h2>
        <div class="cardlist">
        {% for card in exchange.getGivenCards() %}
            <div class="card">
                <img class="card-img" src="{{ card.getImgUrl() }}" />
                <span>{{ card.getName() }}</span>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="side-take">
        <h2>Cards asked for : </h2>
        <div class="cardlist">
            {% for card in exchange.getGainCards() %}
                <div class="card">
                    <img class="card-img" src="{{ card.getImgUrl() }}" />
                    <span>{{ card.getName() }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="exchange-btns">
    {% if exchange.getExecutedAt() == null %}
        <a href="/exchange/{{ exchange.getId() }}/accept">Accept</a>
        <a href="/exchange">Deny</a>
    {% else %}
        Exchange made with {{ exchange.getReceiver().getEmail() }} the {{ exchange.getExecutedAt().format("d F Y H:i:s")}}
    {% endif %}
</div>
{% endblock %}
